<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
    body {
      font-family: "Outfit", sans-serif;
    }
  </style>
  <body>
    <!------------------------------------------------------- Information Bar -------------------------------------------------------------------------------->

    <div class="container d-flex justify-content-center my-5">
      <div
        class="d-flex flex-column flex-sm-row justify-content-between"
        style="width: 60%"
      >
        <!-- TODO: Date Card -->
        <div
          class="card mb-2 mb-md-0 flex-grow-1 justify-content-center align-items-center"
        >
          <div class="card-body">
            <% locals.infoBarObject %>
            <h5 class="card-title"><%= infoBarObject.date %></h5>
          </div>
        </div>
        <!-- TODO: Time Card -->
        <div
          class="card flex-grow-1 mb-2 mb-md-0 mx-md-1 justify-content-center align-items-center"
        >
          <div class="card-body">
            <h5 class="card-title"><%= infoBarObject.time %></h5>
          </div>
        </div>
        <!-- TODO: Weather Card -->
        <div class="card flex-grow-1 justify-content-center align-items-center">
          <div class="card-body">
            <h5 class="card-title"><%= infoBarObject.currentWeather[0] %></h5>
            <p class="card-text" id="weather">
              <%= infoBarObject.currentWeather[1] %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------------------------- Information Bar -------------------------------------------------------------------------------->
    <!------------------------------------------------------- Search Bar with Form -------------------------------------------------------------------------------->
    <div class="container d-flex justify-content-center">
      <form
        action="/app/search-schedules"
        method="POST"
        class="d-flex row justify-content-center align-items-center gap-2 bg-light p-4 rounded-3 mt-1"
        style="width: 50%"
      >
        <!-- TODO: Add a form to search for a route -->
        <label for="waiting-point" class="mr-sm-2">Waiting Point:</label>
        <select
          id="waiting-point"
          name="waitingPoint"
          class="form-control mr-sm-2 form-select"
        >
          <option value="KPZ">KPZ</option>
          <option value="KTAG">KTAG</option>
          <option value="SERUMPUN">Perhentian Bas Serumpun</option>
          <option value="K10">Perhentian Bas K10</option>
          <option value="KMB">KMB</option>

          <!-- Add more options as needed -->
        </select>
        <!--   TODO: Add a form to search for a route   -->

        <label for="destination-point" class="mr-sm-2"
          >Destination Point:</label
        >
        <select
          id="destination-point"
          name="destinationPoint"
          class="form-control mr-sm-2 form-select"
        >
          >
          <option value="MainCampus">Main Campus</option>
          <option value="AgroBio">Agro Bio</option>

          <!-- Add more options as needed -->
        </select>

        <!--   TODO: Add a form to search for a route   -->

        <label for="day-period" class="mr-sm-2">Day Period:</label>
        <select
          id="day-period"
          name="dayPeriod"
          class="form-control mr-sm-2 form-select"
        >
          >
          <option value="morning">Morning</option>
          <option value="afternoon">Afternoon</option>
          <option value="evening">Evening</option>
          <!-- Add more options as needed -->
        </select>
        <button type="submit" value="Search" class="btn btn-primary">
          Search
        </button>
      </form>
    </div>
    <!------------------------------------------------------- Search Bar with Form -------------------------------------------------------------------------------->
    <!------------------------------------------------------- Card of Schedules -------------------------------------------------------------------------------->
    <div class="container mt-4">
      <h3>Weekday Schedules</h3>
      <div class="card">
        <ul class="list-group list-group-flush">
          <% waitingTimesWeekDaysArray.forEach(function(time) { %>
          <li class="list-group-item"><%= time %></li>
          <% }); %>
        </ul>
      </div>
    </div>


    <!------------------------------------------------------- Card of Schedules -------------------------------------------------------------------------------->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
